<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Coming?</th>
            <th scope="col">Food?</th>
            <th scope="col">What Food</th>
            <th scope="col">Song</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let per of person; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{per.firstname}}</td>
            <td>{{per.lastname}}</td>
            <td>{{per.coming}}</td>
            <td>{{per.food}}</td>
            <td>{{per.whatFood}}</td>
            <td>{{per.song}}</td>
        </tr>
    </tbody>
</table>